.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/*
html,body {
	height:100%;
}
*/

body {
	width: 100%;
	height:auto;
	min-height: 600px;
	color: black;
	background: rgba(255,255,206,1);
}

h1 {

}

h2 {
	font-size: 20px; 
	font-weight: bold;
	margin-bottom: 10px;
	color: rgba(203, 134, 0, .9);
}

h3 {
	font-size: 20px; 
	font-weight: normal;
	margin-bottom: 10px;
	color: rgba(203, 134, 0, .9);
}

b {
	font-weight: bold; 	
}

i {
	font-style: italic;
}

p {
	margin: 5px;
	font-size: 17px;
}

input {
	background: rgba(238, 238, 238, 1);
	border: 2px solid rgba(217, 217, 217, 1);
	padding: 10px;
	font-size: 18px; 
	color: rgba(85, 85, 85, 1);
}

/*SITE WIDE CSS */
#message {
	color: rgba(7, 209, 0, 1);
	font-size: 14px;
	font-weight: bold;
}

#logo {
	
	width:200px;
	height:100px;
	cursor: pointer;
}
#logo img {
	width:200px;
	height:100px;
}

#login_box {
	width: 400px;
	height: 200px;
	padding: 25px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid grey;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.table {
	margin: auto;
}