body{
	width: 70%;
	height: 40%;
	border: 1px solid grey;
	color: pink;
}

#navigation{
	width: 100%;
	height: 10%;
	background: grey;
}

#navigation .nav_button{
	text-decoration : none;
	border: 1px solid black;
	border-color : #000000;
	
}

#navigation a:hover{
	text-decoration: line-through;
}

#content{
	width: 70%;
	height: 40%;
}

#content .something_different {
	background-color: green;
}